@font-face
{
    font-family: FontAwesome;
    src: url("../font/fontawesome-webfont.ttf");
}

@font-face
{
    font-family: PatrickHandSC;
    src: url("../font/PatrickHandSC-Regular.ttf");
}

@font-face
{
    font-family: Economica;
    src: url("../font/Economica-Regular.ttf");
}

html{
    height: 100%;
    overflow:hidden!important;
    padding-top:45px; /* for navbar */
}

* {
    overflow:hidden;
}

body {
    background-color:#ebebeb;
    font-family: 'Economica', sans-serif;
    position:relative;
    height:100%;
}

a:hover {
    text-decoration: none;
}

.inline-icon {
    font-family:FontAwesome;
    margin-left:6px;
    margin-right:6px;
}

.slimScrollBar, .slimScrollRail {
    border-radius:0!important;
    right:0px!important;
}

/*=
HEADER
------------------------------------------------------------------------------------*/

#heading-wrapper {
    position:fixed;
    z-index:1000;
    height:45px;
    width:100%;
    top:0;
    background-color:#f0f0f0;
    border-bottom:1px solid #cccccc;
    overflow:visible!important; /*let the gray from the menu icon overhang the border so it looks connected with menu upon highlight*/

}

#back-button {
    display:none;
    opacity:0;
    height:100%;
    width:80px;
    position:relative;
    left:30%;
    z-index:1000;
    padding:9px;
    padding-left:7px;
    line-height:24px;
    font-size:20px;
    color:#555555;

    cursor: pointer;
    cursor: hand;
}

#title {
    height:45px;
    line-height:42px;
    text-align: center;
    position:absolute;
    width:100%;
    top:0;
    font-size:20px;
    color:#555555;
}

#menu-icon-wrapper {
    position:relative;
    float:right;
    z-index:1110!important;
    height:45px;
    width:45px;
    padding:13px 13px 10px 13px;

    cursor: pointer;
    cursor: hand;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu-icon-line {
    margin-top:2px;
    margin-bottom:1px;
    height:3px;
    width:100%;
    background-color: #555555;
}

#menu-icon-wrapper.on {background-color:#555555;}

#menu-icon-wrapper.on .menu-icon-line {background-color:#ebebeb;}


/*=
SIDE MENU
------------------------------------------------------------------------------------*/

#menu-wrapper {
    position:fixed;
    z-index:100;
    width:0;
    right:0;
    bottom:0;
    top:45px;
    background-color:#555555;
    box-shadow: -3px 0 10px rgba(0,0,0,0.33);
    overflow-y:auto!important;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#menu-wrapper.on {
    width:300px;
}

#prof-block {
    position: relative;
    height: 100px;
    width:300px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.54);
    padding: 10px;
    display:inline-block;
}

#prof-pic {
    height:80px;
    width:80px;
    margin-right:20px;
    margin-top:0;
}


#prof-description{
    position:absolute;
    top:25px;
    left:100px;
    color:white;
}

.prof-info {
    display:block;
    font-size:18px;
    line-height:23px;
}

.list-item {
    position:relative;
}

.list-item:hover {
    background-color: rgba(129, 129, 129, 0.54);
}

#options-list .list-item span {
    font-family:FontAwesome;
    position:absolute;
    top:18px;
    left:20px;
    line-height:25px;
    font-size:25px;
    color:white;
}

#options-list .list-item  a {
    display: block;
    height: 60px;
    width: 250px;
    margin-left:50px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.54);
    padding-left: 10px;
    padding-top: 20px;
    font-size: 18px;
    line-height: 18px;
    color: white;
    cursor: pointer;
}

/*=
MAIN SECTION BLOCKS
------------------------------------------------------------------------------------*/
.section-block {
    height:50.0005%;
    width:50.0005%;
    display:inline-block;
    position:relative;
    text-align: center;
    z-index:50;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;

}

.section-block:hover{
    opacity:0.7;
    cursor: pointer; cursor: hand;
}

/*give the transition animations for moving the section blocks 0.5s*/
.out {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#web-block {
    background-color: #f08a1b;
    float:left;
}

#web-block.corner {
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
}
#web-block.side {
    -webkit-transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    transform: translate(-100%, 0%);
}
#web-block.vert {
    -webkit-transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    transform: translate(0%, -100%);
}

/*#android-block {
    background-color:#A4C639;
    float:right;
}

#android-block.corner {
    -webkit-transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    transform: translate(100%, -100%);
}
#android-block.side {
    -webkit-transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    transform: translate(100%, 0%);
}
#android-block.vert {
    -webkit-transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    transform: translate(0%, -100%);
}*/

#research-block {
    background-color:#419fd5;
    float:left;
}

#research-block.corner {
    -webkit-transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%);
}
#research-block.side {
    -webkit-transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    transform: translate(-100%, 0%);
}
#research-block.vert {
    -webkit-transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
}

#resume-block {
    background-color:#805694;
    float:right;
}

#resume-block.corner {
    -webkit-transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
}
#resume-block.side {
    -webkit-transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    transform: translate(100%, 0%);
}
#resume-block.vert {
    -webkit-transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    transform: translate(0%, 100%);}

/*=
CONTENT WITHIN BLOCKS
------------------------------------------------------------------------------------*/

.block-icon {
    color:#ffffff;
    width:100%;
    font-family: FontAwesome;
    font-size:140px;
    line-height: 150px;
    padding-top:40px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.block-header {
    color:white;
    width:100%;
    font-size:44px;
    line-height:47px;
    text-align: center;
}

/*make icons smaller if screen size gets too small*/
@media(max-width:640px){

    .block-icon {
        font-size:50px;
        line-height: 60px;
    }

    .block-header {
        font-size:20px;
        line-height:30px;
    }
}

@media(max-height:575px){

    .block-icon {
        font-size:50px;
        line-height: 60px;
    }

    .block-header {
        font-size:20px;
        line-height:30px;
    }
}


.more-button {
    position:absolute;
    bottom:8px;
    right:6px;
    color:white;
    font-size:20px;
}

/*=
PROJECT CONTENT
------------------------------------------------------------------------------------*/

.content-wrapper {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    bottom:0;
    opacity:0;
    display:none;
    overflow-y:auto!important;
}

.row {
    background-color:white;
    border-right:1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
}

.row > * {
    padding-top:30px;
    padding-bottom:30px;
}

.project-picture {
    width:100%;
    max-width:300px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    margin-bottom:30px;
}

.project-name {
    line-height:50px;
    font-size:44px;
    color:#868686;
    text-align:center;
}

.project-slogan {
    line-height:30px;
    font-size:25px;
    color:#dddddd;
    text-align:center;
}

.project-description {
    margin-top:20px;
    line-height:23px;
    font-size:19px;
    color:#868686;
    text-align:justify;
}

.btn {
    background-color:#7e7e7e;
    padding:20px;
    border-radius: 4px;
    font-size:18px;
    line-height:20px;
    display: block;
    margin-top:40px;
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
    min-width:250px;
    color:#ffffff;


    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.btn:hover, .btn:focus {
    color:#ffffff;
    opacity:0.7;
}

.resume-block-content .inline-icon {
    line-height:25px;
}
